extends layout

block content
  <app-planets-list>Loading...</app-planets-list>

block scripts
  script(type="module" src="/main-ZBJN6CRS.js")
  link(rel="stylesheet" href="/styles-5INURTSO.css")
  script(src="/polyfills-FFHMD2TL.js")
